{% extends "layout.html" %}
{% block content %}
<div>
    <span>{{ temp }}</span>    
</div>
<div>
    <h3>Individual Pin Controll And Status</h3>    
</div>
<div align="left">
    <table>
        <tr>
            <td>
                <div>
                    <button type="button" id="pin7" onclick="execute_command(this, event)">
                        Pin 7
                    </button>
                </div>
            </td>
            <td>
                <aside id="pin7status">                    
                    {{ pin7s }}
                </aside>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <button type="button" id="pin11" onclick="execute_command(this, event)">
                        Pin 11
                    </button>
                </div>
            </td>
            <td>
                <aside id="pin11status">                    
                    {{ pin11s }}
                </aside>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>Fun Functions</h3>    
</div>
<div align="left">
    <table>
        <tr>
            <td>
                <div>
                    <button type="button" id="blink" onclick="execute_blink(this, event)">
                        Blink
                    </button>
                </div>
            </td>
            <td>
                <input id="blink_count" type="range" min="1" max="1000" defaultValue="500">          
            </td>
            <td>
                <input id="time_interval" type="range" min="100" max="2000" defaultValue="500">          
            </td>
        </tr>       
    </table>
</div>
<script type="text/javascript">
    ///////////////////////////////////////////////////////////////////
    /// ***GLOBALS*** ///
    ///////////////////////////////////////////////////////////////////
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var command_url = $SCRIPT_ROOT + "/command"
    var currentInterval = null;    
    ///////////////////////////////////////////////////////////////////
    /// ***Functions($)*** ///
    ///////////////////////////////////////////////////////////////////
    function execute_command(id, event) {
        event.preventDefault();
        fetch(command_url + "/" + id.id).then(function(response) {          
            return response.json();
        }).then(function(respj) {            
            document.getElementById(respj.data.id + "status").innerHTML = respj.data.value;
        }).catch(function() {
            console.log("Error!");
        });
    };
    ///////////////////////////////////////////////////////////////////
    function push_butt(butt) {
        butt.click();
    };
    ///////////////////////////////////////////////////////////////////    
    function timeout(range, time, action) {    
        if (currentInterval) {
            clearInterval(currentInterval)
        }
        var counter = 0;
        const loop = () => {
            action();
            counter += 1;
            if (counter > range) {
                counter = 0;
                clearInterval(currentInterval);
            }
        }
        currentInterval = setInterval(loop, time)
    };   
    ///////////////////////////////////////////////////////////////////
    function execute_blink() {
        var count = document.getElementById("blink_count").value;
        var interval = document.getElementById("time_interval").value;
        var pin7 = document.getElementById("pin7");
        var pin11 = document.getElementById("pin11");       
        timeout(count, interval, () => {
            push_butt(pin11);
            push_butt(pin7);
        }); 
    };
    ///////////////////////////////////////////////////////////////////
</script>
{% endblock content %}

