{% extends "layout.html" %}
{% block content %}
<div>
    <span>{{ temp }}</span>    
</div>
<div>
    <button type="button" id="pin7" onclick="execute_command(this, event)">Pin 7 {{ value }}</button>
</div>
<div>
    <button type="button" id="pin11" onclick="execute_command(this, event)">Pin 11 {{ value }}</button>
</div>

<script type="text/javascript">
    ///////////////////////////////////////////////////////////////////
    /// ***GLOBALS*** ///
    ///////////////////////////////////////////////////////////////////
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var command_url = $SCRIPT_ROOT + "/command"    
    ///////////////////////////////////////////////////////////////////
    /// ***Functions($)*** ///
    ///////////////////////////////////////////////////////////////////
    function execute_command(id, event) {
        event.preventDefault();
        fetch(command_url + "?" + "id=" + id.id).then(function(response) {
          return response.json();
        }).then(function(data) {
          console.log(data);
        }).catch(function(err) {
          console.log(err);
        });
    };   
    ///////////////////////////////////////////////////////////////////
</script>
{% endblock content %}
